@import "tailwindcss";

@font-face {
  font-family: "Objective";
  src: url("/fonts/Objective-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Objective", sans-serif;
}

.text {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: anim 10s linear infinite;
}
.wrapper {
  @apply w-full mx-auto;
  max-width: 1200px;
}

h1,
h2 {
  line-height: 1.2;
}

.yt-container iframe {
  width: 100vw;
}